<div class="row section" style="padding-top: 100px;">
  <div class="col m8 offset-m2">
    <% provide(:title, "Log in") %>
    <h1>Log in</h1>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.fields_for :spec do |s| %>
        <%= s.check_box :remember_me %>
        <%= s.label :remember_me %>
      <% end %>
      <br /><br />

      <%= button_tag(type: 'submit', class: "btn waves-effect waves-light") do %>
        Login<i class="material-icons right">send</i>
      <% end %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", users_new_path %></p>
  </div>
</div>
