<% content_for :title, @user.name %>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<!-- Row -->
<div class="row mb-0">
  <div class="col m8 offset-m2 s12">
    <h4 class="hide-on-small-only">👎 Thumbs Down <%= @user.find_disliked_items.size %></h4>
    <h4 class="center-align hide-on-med-and-up">👎 Thumbs Down <%= @user.find_disliked_items.size %></h4>
  </div>
  <!-- Table -->
  <table class="striped centered col m8 offset-m2 s12">
    <!-- Table Headers -->
    <thead>
      <tr>
        <th><h5>🚘</h5></th>
        <th><h5>📆</h5></th>
      </tr>
    </thead>
    <!-- ./Table Headers -->
    <!-- Table Body -->
    <tbody>
    <% @dislikes.each do |dislike| %>
      <% if !dislike[:plate].nil? %>
        <tr>
          <td><%= link_to dislike[:plate].upcase, licenceplate_path(dislike[:id]) %></td>
          <td><%= dislike[:created_at].strftime("%Y-%m-%d") %></td>
        </tr>
      <% end %>
    <%end %>
    </tbody>
    <!-- ./Table Body -->
  </table>
  <!-- ./Table -->
</div>
<!-- ./Row -->

<!-- Nav Links -->
<div class="row center-align">
  <div class="col m6 offset-m3 s10 offset-s1">
    <%= link_to raw("👈"), current_user, class: "waves-effect waves-light btn-large green mt-3", style: "width:100%" %>
  </div>
</div>
