<% content_for :title, @user.name %>
<h1>Update your profile</h1>
<div class="row section">
  <div class="col m8 offset-m2">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "👌 Save changes", class: "waves-effect waves-light btn-large green mt-3" %>
      <span>&nbsp;&nbsp;</span>
      <%= link_to "👈 Cancel", current_user, class: "waves-effect waves-light btn-large red mt-3" %>
    <% end %>
  </div>
</div>
