<% content_for :title, "Sign Up ✏️" %>
<div class="row">
  <div class="col m8 offset-m2">
    <h3 class="hide-on-small-only">✏️ Sign Up</h3>
    <h5 class="hide-on-med-and-up">✏️ Sign Up</h5>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "User Name" %>
      <%= f.text_field :name, class: 'form-control mb-xs-3' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control mb-xs-3' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control mb-xs-3' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control mb-xs-3' %>

      <%= f.submit "Create my account 🤘", class: "waves-effect waves-light btn-large green mt-3" %>
    <% end %>
  </div>
</div>
