<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<h1><%= @user.name %></h1>
<h2><%= @user.email %></h2>
<h3><%= @user.find_voted_items.size %> Votes</h3>
<h3><%= @user.find_liked_items.size %> Likes</h3>
<h3><%= @downvotes = @user.find_disliked_items.size %> Dislikes</h3>
