<% content_for :title, @user.name %>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<h3><%= @user.name %></h3>
<p><strong>Email </strong> <%= @user.email %></p>
<p><strong>Joined </strong></strong><%= @user.created_at.strftime("%B %d, %Y") %></p>
<p><strong><%= @user.find_voted_items.size %></strong> Total Votes</p>
<p><strong><%= @user.find_liked_items.size %></strong> <a href="/users/<%= @user.id %>/likes">Thumbs Up</a></p>
<p><strong><%= @user.find_disliked_items.size %></strong> <a href="/users/<%= @user.id %>/dislikes">Thumbs Down</a></p>

<!-- Nav Links - Mobile Only -->
<div class="row mb-0">
  <div class="col s6 m3">
    <%= link_to raw("âœï¸&nbsp;&nbsp;Edit"), edit_user_path(current_user), class: "waves-effect waves-light btn-large green mt-3", style: "width:100%" %>
  </div>
  <% if current_user.admin? && !current_user?(@user) %>
    <div class="col s6 m3">
      <%= link_to raw("ðŸ¤š&nbsp;&nbsp;Delete"), @user, method: :delete, data: { confirm: "You sure?" }, class: "waves-effect waves-light btn-large red mt-3", style: "width:100%" %>
    </div>
  <% end %>
  <% if current_user.admin?%>
    <div class="col s12 m3">
      <%= link_to raw("ðŸ¤ &nbsp;&nbsp;Users"), users_path, class: "waves-effect waves-light btn-large blue-grey mt-3", style: "width:100%" %>
    </div>
  <% end  %>
</div>
<!--./ Nav Links -->
