<%= form_with model: @licenceplate, local: true do |form| %>
<% if @licenceplate.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@licenceplate.errors.count, "error") %> prohibited
      this article from being saved:
    </h2>
    <% @licenceplate.errors.full_messages.each do |msg| %>
      <p style="color:red;"><%= msg %></p>
    <% end %>
  </div>
  <% end %>
  <p>
    <label for="licenceplate_plate" class="active">Plate</label>
    <input type="text" value="<%= @licenceplate.plate.upcase %>" name="licenceplate[plate]">
  </p>

  <p>
    <label>Province</label>
    <select name="licenceplate[province]" class="browser-default">
      <option value="Quebec">Quebec</option>
      <option value="Ontario" disabled>Ontario</option>
      <option value="Manitoba" disabled>Manitoba</option>
      <option value="Saskatchewan" disabled>Saskatchewan</option>
      <option value="British Columbia" disabled>British Columbia</option>
      <option value="Nova Scotia" disabled>Nova Scotia</option>
      <option value="Prince Edward Island" disabled>Prince Edward Island</option>
      <option value="New Brunswick" disabled>New Brunswick</option>
      <option value="Newfoundland" disabled>Newfoundland</option>
    </select>
  </p>
  <%= form.submit "👌 Save changes", class: "waves-effect waves-light btn-large green mt-3" %>
  <span>&nbsp;&nbsp;</span>
  <%= link_to '👈 Back', licenceplate_path, class: "waves-effect waves-light btn-large blue mt-3" %>
  <% if !current_user.nil? && current_user.admin? %>
    <span>&nbsp;&nbsp;</span>
    <%= link_to "🤚 Delete", @licenceplate, method: :delete,
                                  data: { confirm: "You sure?" },
                                  class: "waves-effect waves-light btn-large red mt-3" %>
  <% end  %>
<% end %>
