<h1>Listing Licence Plates</h1>
  <table>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Up Votes</th>
      <th>Down Votes</th>
    </tr>

    <% @licenceplates.each do |licenceplate| %>
      <tr>
        <td><%= licenceplate.plate %></td>
        <td><%= licenceplate.province %></td>
        <td><%= licenceplate.upvote %></td>
        <td><%= licenceplate.downvote %></td>
        <td><%= link_to 'Show', licenceplate_path(licenceplate) %></td>
        <!-- <td><%= link_to 'Edit', edit_licenceplate_path(licenceplate) %></td> -->
      </tr>
    <% end %>
    <%= link_to 'Home', welcome_index_path %>
  </table>
