<h1>Listing Licence Plates</h1>
  <table class="striped centered responsive-table">
    <thead>
      <tr>
        <th><i class="fa fa-car"></i></th>
        <th><i class="fa fa-globe"></i></th>
        <th><i class="fa fa-thumbs-o-up"></i></th>
        <th><i class="fa fa-thumbs-o-down"></i></th>
      </tr>
    </thead>

    <% @licenceplates.each do |licenceplate| %>
      <tr>
        <td><%= link_to licenceplate.plate.upcase, licenceplate_path(licenceplate) %></td>
        <td><%= licenceplate.province.titleize %></td>
        <td><%= licenceplate.get_likes.size %></td>
        <td><%= licenceplate.get_downvotes.size %></td>
        <!-- <td><%= link_to 'Edit', edit_licenceplate_path(licenceplate) %></td> -->
      </tr>
    <% end %>
  </table>
  <%= link_to "Home ðŸ¡", welcome_index_path, class: "waves-effect waves-light btn-large blue", :method => :get %>
