  <% content_for :title, "🚗 New" %>
  <!-- Form -->
  <%= form_with model: @licenceplate, local: true do |form| %>
    <!-- Licence Plate -->
    <div class="row section">
      <div class="col s12 m8 offset-m2">
        <div class="center-align z-depth-2"  id="licence_border">

          <div id="drill-hole">&nbsp;&nbsp;</div><!--  the drill holes -->
          <!-- Province Select -->
          <select name="licenceplate[province]" class="browser-default">
            <option value="Quebec" selected="selected">Quebec</option>
            <option value="Ontario" disabled>Ontario</option>
            <option value="Manitoba" disabled>Manitoba</option>
            <option value="Saskatchewan" disabled>Saskatchewan</option>
            <option value="British Columbia" disabled>British Columbia</option>
            <option value="Nova Scotia" disabled>Nova Scotia</option>
            <option value="Prince Edward Island" disabled>Prince Edward Island</option>
            <option value="New Brunswick" disabled>New Brunswick</option>
            <option value="Newfoundland" disabled>Newfoundland</option>
          </select>
          <!-- ./ Province Select -->
          <div id="drill-hole">&nbsp;&nbsp;</div><!--  the drill holes -->

          <!-- Licence Plate Input -->
          <h1>
            <input onkeyup="formatInput();" id="plate-input" class="center-align" type="text" name="licenceplate[plate]" placeholder="B01 AAA" maxlength="7"/>
          </h1>
          <!-- ./Licence Plate Input -->

          <div id="drill-hole">&nbsp;&nbsp;</div><!--  the drill holes -->
          <h5 id="plate-province-text">Je me souviens</h5>
          <div id="drill-hole">&nbsp;&nbsp;</div><!--  the drill holes -->

        </div>
      </div>
    </div>
    <!-- ./ Licence Plate -->

    <!-- Submit & Buttons -->
    <div class="row center-align">
      <%= form.submit "👍 Submit", class: "waves-effect waves-light btn-large green mt-3", id: "new-plate-submit" %>
      <span>&nbsp;&nbsp;</span>
      <%= link_to "🏁 Rankings", licenceplates_path, class: "waves-effect waves-light btn-large orange mt-3", :method => :get %>
    </div>
    <!-- ./ Submit & Buttons -->

    <!-- Error Messages -->
    <% if @licenceplate.errors.any? %>
      <div class="row center-align">
        <div id="error_explanation">
          <h6>
            <%= pluralize(@licenceplate.errors.count, "error") %> prohibited rating the licence plate.
          </h6>
          <h5>🛑&nbsp;🔨&nbsp;⏱</h5>
          <% @licenceplate.errors.full_messages.each do |msg| %>
            <p style="color:red;" class="center-align"><%= raw msg %></p>
          <% end %>
        </div>
      </div>
    <% end %>
    <!-- ./ Error Messages -->
  <% end %>
  <!-- End Form -->
