  <% content_for :title, "ðŸš— New" %>
  <h1>New Licence Plate</h1>
  <p>If the licence plate already exists, you'll be taken there ðŸ¤™.</p>
  <!-- Form -->
  <%= form_with model: @licenceplate, local: true do |form| %>
    <!-- Error Messages -->
    <% if @licenceplate.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@licenceplate.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <% @licenceplate.errors.full_messages.each do |msg| %>
          <p style="color:red;"><%= msg %></p>
        <% end %>
      </div>
    <% end %>
    <!-- Error Messages -->

    <label for="licenceplate_plate">Licence Plate</label><br>
    <input type="text" name="licenceplate[plate]" />

    <label>Province</label>
    <select name="licenceplate[province]" class="browser-default">
      <option value="Quebec" selected="selected">Quebec</option>
      <option value="Ontario" disabled>Ontario</option>
      <option value="Manitoba" disabled>Manitoba</option>
      <option value="Saskatchewan" disabled>Saskatchewan</option>
      <option value="British Columbia" disabled>British Columbia</option>
      <option value="Nova Scotia" disabled>Nova Scotia</option>
      <option value="Prince Edward Island" disabled>Prince Edward Island</option>
      <option value="New Brunswick" disabled>New Brunswick</option>
      <option value="Newfoundland" disabled>Newfoundland</option>
    </select>
    <%= form.submit "ðŸ‘ Submit", class: "waves-effect waves-light btn-large green mt-3" %>
    <span>&nbsp;&nbsp;</span>
    <%= link_to "ðŸ¡ Home", welcome_index_path, class: "waves-effect waves-light btn-large blue mt-3", :method => :get %>
    <% end %>
  <!-- End Form -->
