  <% content_for :title, "ðŸš— New" %>
  <h1>New Licence Plate</h1>
  <p>If the plate already exists, you'll be taken there ðŸ¤™.</p>
  <!-- Form -->
  <%= form_with model: @licenceplate, local: true do |form| %>
    <!-- Error Messages -->
    <% if @licenceplate.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@licenceplate.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <% @licenceplate.errors.full_messages.each do |msg| %>
          <p style="color:red;"><%= msg %></p>
        <% end %>
      </div>
    <% end %>
    <!-- Error Messages -->

    <label for="licenceplate_plate">Licence Plate</label><br>
    <input type="text" name="licenceplate[plate]" />

    <label>Select Province</label>
    <%= select_tag(:province , options_for_select([
      ['Quebec', 1],
      ['Ontario', 2],
      ['Manitoba',3],
      ['Saskatchewan',4],
      ['Alberta',5],
      ['British Columbia',6],
      ['Nova Scotia',7],
      ['Prince Edward Island',8],
      ['New Brunswick',9],
      ['Newfoundland',10]
    ]), {:class => 'browser-default'}) %>
    <%= form.submit "Submit ðŸ‘", class: "waves-effect waves-light btn-large green mt-3" %>
    <span>&nbsp;&nbsp;</span>
    <%= link_to "Home ðŸ¡", welcome_index_path, class: "waves-effect waves-light btn-large blue mt-3", :method => :get %>
    <% end %>
  <!-- End Form -->
