<% content_for :title, @licenceplate.plate.upcase %>
<div class="row section">
  <div class="col s12 m8 offset-m2">
    <div class="center-align" id="licence_border" style="color: blue; border: 3px solid blue; border-radius: 3px;">
      <p><%= @licenceplate.province %></p> <!-- capitalize -->
      <h1><%= @licenceplate.plate.upcase %></h1>
      <p>je me souviens</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s6">
    <div id="vote_circle" style="float:right;  background-color: green; border: 10px solid green; border-radius: 500px; width: 100px;height: 100px; text-align: center;">
      <p>
        <%= @licenceplate.get_likes.size%>
      </p>
      <a data-method="put" href="/licenceplates/<%= @licenceplate.id %>/upvote">
        <i class="fa fa-thumbs-up"></i>
      </a>
    </div>
  </div>
  <div class="col s6">
    <div id="vote_circle" style="background-color: red; border: 10px solid red; border-radius: 500px; width: 100px;height: 100px; text-align: center;">
      <p>
        <%= @licenceplate.get_downvotes.size%>
      </p>
      <a data-method="put" href="/licenceplates/<%= @licenceplate.id %>/downvote">
        <i class="fa fa-thumbs-down"></i>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <%= link_to "Home ðŸ¡", welcome_index_path, class: "waves-effect waves-light btn-large blue", :method => :get %>
  <% if current_user.admin?%>
    <%= link_to "Edit âœï¸",  edit_licenceplate_path, class: "waves-effect waves-light btn-large blue", :method => :get %>
  <% end  %>
</div>
<!-- <td><%= link_to 'Edit', edit_licenceplate_path(@licenceplate) %></td> -->
