<!DOCTYPE html>
<html>

<head>
  <title>Welcome Index</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <h1>Existing License Plate</h1>

  <p>
    <strong>Licence Plate: </strong>
    <%= @licenceplate.plate %>
  </p>

  <p>
    <strong>Province: </strong>
    <%= @licenceplate.province %>
  </p>
  <p>
    <strong>Up Votes: </strong>
    <%= @licenceplate.upvote%>
    <%= link_to 'like', licenceplate_upvote_path(@licenceplate), method: :put %>
  </p>
  <p>
    <strong>Down Votes: </strong>
    <%= @licenceplate.downvote%>
    <%= link_to 'dislike', licenceplate_downvote_path(@licenceplate), method: :put %>
  </p>
  <%= link_to 'Home', welcome_index_path %>
  <td><%= link_to 'Edit', edit_licenceplate_path(@licenceplate) %></td>
</body>
</html>
