<% content_for :title, @licenceplate.plate.upcase %>
<!-- Licence Plate -->
<div class="row section mb-3">
  <div class="col s12 m8 offset-m2">
    <div class="center-align z-depth-2"  id="licence_border">

      <div id="drill-hole">&nbsp;&nbsp;</div><!--  the drill holes -->
      <h5 id="plate-province"><%= @licenceplate.province %></h5>
      <div id="drill-hole">&nbsp;&nbsp;</div><!--  the drill holes -->

      <h1><%= @licenceplate.plate.upcase %></h1>

      <div id="drill-hole">&nbsp;&nbsp;</div><!--  the drill holes -->
      <h5 id="plate-province-text">Je me souviens</h5>
      <div id="drill-hole">&nbsp;&nbsp;</div><!--  the drill holes -->
    </div>
  </div>
</div>
<!-- ./ Licence Plate -->

<!-- Votes -->
<div class="row center-align">
  <div class="col s3 m4 right-align">
    <h5 id="votes" class="green-text"><%= @licenceplate.get_upvotes.size%></h5>
  </div>
  <div class="col s3 m2">
    <a class="btn-floating btn-large waves-effect waves-light green" data-method="put" href="/licenceplates/<%= @licenceplate.id %>/upvote">👍</a>
  </div>
  <div class="col s3 m2">
    <a class="btn-floating btn-large waves-effect waves-light red" data-method="put" href="/licenceplates/<%= @licenceplate.id %>/downvote">👎</a>
  </div>
  <div class="col s3 m4 left-align">
    <h5 id="votes" class="red-text"><%= @licenceplate.get_downvotes.size%></h5>
  </div>
</div>
<!-- ./ Votes -->

<!-- Nav Links -->
<div class="row center-align mb-3">
  <div class="col s5 offset-s1 m3 offset-m3">
    <%= link_to "👈  Ranks", licenceplates_path, class: "waves-effect waves-light btn-large orange mt-3", style: "width:100%;", :method => :get %>
  </div>
  <div class="col s5 m3">
    <button class="show-comments waves-effect waves-light btn-large blue mt-3"  style="width:100%;",>💬&nbsp;Chat</button>
  </div>
  <% if !current_user.nil? && current_user.admin?%>
    <div class="col s5 offset-s1 m3 offset-m3">
      <%= link_to "✏️  Edit",  edit_licenceplate_path, class: "waves-effect waves-light btn-large green mt-3", style: "width:100%;", :method => :get %>
    </div>
    <div class="col s5  m3 ">
      <%= link_to "🤚  Delete", @licenceplate, method: :delete,
                                  data: { confirm: "You sure?" },
                                  class: "waves-effect waves-light btn-large red mt-3",
                                  style: "width:100%;" %>
    </div>
  <% end  %>
</div>
<!-- ./ Nav Links -->

<!-- Disquss -->
<div class="row mb-3">
  <div class="col s12 m8 offset-m2">
    <div id="disqus_thread"></div>
  </div>
</div>
<script>
$(document).ready(function() {
  $('.show-comments').on('click', function(){
    var disqus_shortname = 'driverrank-ca'; // Replace this value with *your* username.

    // ajax request to load the disqus javascript
    $.ajax({
            type: "GET",
            url: "http://" + disqus_shortname + ".disqus.com/embed.js",
            dataType: "script",
            cache: true
    });
  });
});
// function showchat(){
//   (function() { // DON'T EDIT BELOW THIS LINE
//   var d = document, s = d.createElement('script');
//   s.src = 'https://driverrank-ca.disqus.com/embed.js';
//   s.setAttribute('data-timestamp', +new Date());
//   (d.head || d.body).appendChild(s);
//   })();
// }
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<!-- Some Diquss Business -->
<script id="dsq-count-scr" src="//driverrank-ca.disqus.com/count.js" async></script>
<!-- ./ Disquss -->
