<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <!-- Favicon -->
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <!-- Import Font Awesome -->
    <script src="https://use.fontawesome.com/8f2ae3cde2.js"></script>
    <!-- Import Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap Margin/Padding CSS -->
    <%= stylesheet_link_tag "bootstrap-padding.css" %>
    <!-- Import Materialize.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Import jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Import Materialize.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <nav>
      <div class="nav-wrapper blue">
        <%= link_to (raw("ðŸš˜ Driver <strong>Rank</strong>")), root_path, class: "pl-4 brand-logo left" %>
        <ul class="right">
        <% if logged_in? %>
          <li class="hide-on-small-only"><%= link_to current_user.name, current_user %></li>
          <li class="hide-on-med-and-up"><%= link_to "ðŸ‘¤", current_user %></li>
          <li><%= link_to "âœï¸", edit_user_path(current_user), style: "font-size: 1.3em;" %></li>
          <li><%= link_to (raw("<span>ðŸ”’</span>")), logout_path, method: :delete, style: "font-size: 1.3em;", id: "logout-emoji" %></li>
        <% else %>
          <li><%= link_to (raw("<span>Login ðŸ”“</span>")), login_path, id: "login-emoji" %></li>
        <% end %>
        </ul>
      </div>
    </nav>

    <!-- Container -->
    <main class=" grey lighten-4 pb-5">
      <div class="container py-3">
        <%= yield %>
      </div>
    </main>
    <!-- /.Container -->

    <!-- Zoom Zoom Car -->
    <% if current_page?('/licenceplates/new')%>
      <div id="canvas">
        <p id="zoomzoom">ðŸš—</p>
      </div>
    <% end %>
    <!-- ./ Zoom Zoom Car -->

    <!-- Footer -->
    <footer class="blue darken-2">
        <div class="container">
          <div class="row py-5 my-0">
            <div class="col s7">
              <a href="https://kcamel.com" class="white-text">
                <i class="fa fa-chevron-left"></i>
                <i class="fa fa-chevron-right"></i>
                with
                <i class="fa fa-heart"></i>
                by
                <span class="footer_name">Kevin Camellini</span>
              </a>
            </div>
            <div class="col s5 right-align white-text">
              <span>&copy;&nbsp;DriverRank <span id="yearfooter"></span></span>
            </div>
          </div>
        </div>
        <!-- /.container -->
    </footer>
    <!-- /.Footer     -->
  </body>
</html>
