<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <!-- Import Font Awesome -->
    <script src="https://use.fontawesome.com/8f2ae3cde2.js"></script>
    <!-- Import Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap Margin/Padding CSS -->
    <%= stylesheet_link_tag "bootstrap-padding.css" %>
    <!-- Import Materialize.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <%-# If Logged IN -%>
    <% if logged_in? %>
    <ul id="dropdown-nav" class="dropdown-content">
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <li class="divider"></li>
      <li><%= link_to "Log out", logout_path, method: :delete %></li>
    </ul>
    <% end %>
    <nav>
      <div class="nav-wrapper blue">
        <%= link_to (raw("Driver <strong>Rank</strong>")), root_path, class: "pl-4 brand-logo left" %>
        <ul class="right hide-on-med-and-down">
        <% if logged_in? %>

          <% if current_user.admin?%>
            <li><%= link_to "Users", users_path %></li>
          <% end  %>

          <li class="dropdown">
          <li><a class="dropdown-button" href="#!" data-activates="dropdown-nav"><%= current_user.name%><i class="material-icons right">arrow_drop_down</i></a></li>

        <% else %>

          <li><%= link_to "Log in", login_path %></li>

        <% end %>
        </ul>
      </div>
    </nav>

    <!-- Container -->
    <div class="container">
      <%= yield %>
    </div>
    <!-- End Container -->


    <!-- Import jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Import Materialize.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </body>
</html>
